// $primary-color: #3498db;
$border-radius: 4px;
$font_16: 16px;
$primary-color: #e88fb3;
$secondary-color: #b86b9c;
$gold-color: #d4af37;
$dark-bg: rgba(0, 0, 0, 0.7);
$light-text: #fff;
$dark-text: #333;